<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Sign In</title>
</head>
<body>
    <section>
        <div id="image_container"></div>
        <div id="form_container" class="p-4">
            <div class="h-100 p-5" style="border:1px solid lightgray; border-radius: 3%; box-shadow: 9px 9px 3px 1px rgba(0, 0, 255, .2);">
                <!-- <h3 class="p-5 mr-2 fs-1" style="position:absolute; top:0; right:0;text-align: right; color:gray;">
                        <b style="cursor: pointer">X</b>
                </h3> -->
                <h1 class="mb-5">Sign In</h1>
                <form method="POST" id="loginForm">
                    <label for="inputID" class="form-label">Input ID</label>
                    <input type="text" class="form-control mb-3" id="inputID" name="inputID" placeholder="Input your id" value=<%=userId%>>
    
                    <label for="inputPW" class="form-label">Input PW</label>
                    <input type="password" class="form-control mb-3" id="inputPW" name="inputPW" placeholder="Input your password">
                    <div class="form-check form-check-inline mb-3">
                        <% if(userId){%>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="checked" name="rememberId" checked="checked">
                        <%}else{%>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="checked" name="rememberId">
                        <%}%>
                        <label class="form-check-label" for="inlineCheckbox1">ID 기억하기</label>
                    </div>
                    <button class="btn btn-primary w-100 mb-3" type="submit">Log in</button>
                    <button type="button" class="btn btn-outline-warning mb-3"  style="float:left; width:47%">ID/PW 찾기</button> 
                    <button type="button" onclick = "location.href = '/auth/sign/up' " class="btn btn-outline-success mb-3"  style="float:right; width:47%">Sign Up</button>
                </form>
            </div>
        </div>
    </section>
    <div id="is_unlocked">
        <div id="unlocked">
            <img src="/images/unlock.gif" alt="LOGO">
        </div>
    </div>

</body>
</html>
<script>
    function signin(){
        setTimeout(function() {
            console.log("F")
            // $('#loginForm').submit;
        }, 2000);
    }
</script>

<style>
    
    html{min-height:100%;position:relative;}
    body{height:100%;}
    #image_container{
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            overflow:hidden;
            z-index:-1;
            background: url("/images/login.jpg") no-repeat center center fixed;
        }
        #form_container{
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            overflow:hidden;
            z-index:-1;
        }
        #form_container h1{
            text-align: left;
            color:rgb(50,55,95);
        }

    @media (min-width: 1414px) {
        #image_container{
            width:70%;
        }
        #form_container{
            width:30%;
        }
    }
    @media (min-width: 848px ) and (max-width: 1414px) {
        #image_container{
            width:60%;
        }
        #form_container{
            width:40%;
        }
    }
    @media (max-width: 848px ){
        #image_container{
            display:none;
            background-color: white;
        }
        #form_container{
            width:100%;
            padding:0
        }
    }
    #unlocked{
        display:none;
        position: absolute;
        top: 50%;
        left: 45%;
        margin:-150px 0 0 -150px;
        background-color: rgb(255,255,255,0.8);
    }
</style>