<%- include('include/header.ejs') %>

<link href="/stylesheets/index.css" rel="stylesheet" />

  <section>
    <div id="indexbg">
      <div class="container">
      <div id="indexbg_text">
        <h1 class="fs-1">해양 IT 융합 기술 연구소에 오신것을<br>진심으로 환영합니다</h1>
        <div>해양IT 연구소는 항상 더 나은 미래를 위한 <br>연구를 진행하고 있습니다.</div><br><br><br>
      
      </div>
    </div>

    </div>
    </div>

    </section>


