<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  a:
  <% for(var key in db_1){%>
    <%=db_1[key].rfid%>
  <%}%>
<br>
b:
  <% for(var key in db_2){%>
    <%=db_2[key].write_date%>
  <%}%>
</body>
</html>