<footer class="footer py-3 bg-secondary border-top border-secondary text-white">
  <div class="ml-5 pr-5">
    <h3>
      Ocean - IT
    </h3>
    <hr>
    <span>
      &copy; 2020. Conative &gt; UIT-LAB <br> All of things cannot be copied without permission.<br>
     Total: <%=count_data[0].totalCount%>
    Today: <%=count_data[0].todayCount%>
    </span>
  </div>
  
</footer>
</body>
</html>