<div class="container">
    <div class="row row-cols-2 ">
        <img id="introduction_imgArea" class="col-4" src="/images/members/고학림.png" style="height:100%" />
        <div id="introduction_txtArea" class="col-8">
            <h3 class="card-title">"해양IT 융합기술연구소" 는...</h3>
            <p class="card-text">
                전 세계적으로 매년 약 8,200만명의 인구가 증가하면서 향후 지구 전체 인구에 대한 식량, 에너지 및 자원 부족이 예상됩니다.<br><br>
                지구는 약 70%의 표면이 물로 구성되어 있고, 바다에는 전세계 동식물의 약 80%가 있으며, 그 외에도 많은 자원이 있습니다.<br><br>
                하지만 바다는 아직도 미지의 세계 입니다. 육상에서는 전기, 컴퓨터에 이어 4차 산업 혁명 기술이 여러 산업에 적용되고 있지만,
                바다에서는 물속의 데이터를 실시간으로 수집하고 분석하기 위한 효율적인 통신망이 구축되어 있지 않은 실정입니다. <br><br>
                해양 융합기술 연구소에서는 바다에서도 육지와 같이 자유로운 통신이 가능하고,
                이를 통해 육상에서도 효율적으로 수중의 정보 관측, 제어 및 위치 추적 등을 수행할 수 있게 하는 수중 통신망/플랫폼 기술을 연구하고, 이를 통해 해양 신산업 발전에
                기여합니다.<br><br>
                이를 위해 해양IT 융합기술 연구소는 현재 분산형 수중 관측제어망 개발 등 수중 기지국 통신망 구축을 위한 대형 국가 연구개발사업을 수행하고 있으며,
                많은 기업들과 산학 협력 및 민관군과 산학연이 함께하는 주기적인 포럼 및 세미나 개최를 통해
                해양융합 분야에서 신해양산업을 주도할 수 있는 연구와 인력양성을 수행 하고 있습니다. <br><br>감사합니다

            <p style="float:right">연구소장 교수 <b>고학림</b></p>
            </p>
        </div>
    </div>
</div>