<div class="container">
    <img class="col-4" src="/images/introduce/주요연혁.jpg" style="min-width:100%" />
    <table class="table table-responsive-sm text-center">
        <thead>
            <tr>
                <th>순번</th>
                <th>구분</th>
                <th>내용</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody id="history_data">
        </tbody>
    </table>
</div>