<%- include('../include/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/research_fields/researchFieldsMain.css" />
    <link rel="stylesheet" href="/stylesheets/research_fields/researchFieldsDetail.css" />
    <section>
        <form method="post" action="/research/results/patent/write">
            <div id="indexbg" class="mb-5"></div>
            <div id="indexbg_text">
                <h1 class="fs-1">연구 분야</h1>

            </div>
            <div class="container-fluidp-3 p-3">
                <div class=" row">
                    <div id="researchDetailContent" class="col-12">

                        <article class="container">

                            <table class="table table-responsive-sm text-center">
                                <tbody>
                                    <tr>
                                        <th>특허상태</th>
                                        <td>
                                            <input style="width: 100%; border: none;" type="text" name="group_id">
                                        </td>
                                        <th>국명</th>
                                        <td>
                                            <input style="width: 100%; border: none;" type="text"
                                                name="announe_nation_ko">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>지식 재산권등 명칭</th>
                                        <td class="text-left">
                                            <input style="width: 100%; border: none;" type="text" name="title_ko">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>출원번호</th>
                                        <td>
                                            <input style="width: 100%; border: none;" type="text" name="application_num">
                                        </td>
                                        <th class="align-middle">출원일자</th>
                                        <td>
                                            <input class="form-control" type="datetime-local" style="width: 100%; border: none;" name="application_date">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="align-middle ">등록번호</th>
                                        <td>
                                            <input style="width: 100%; border: none;" type="text" name="registration_num">
                                        </td>
                                        <th class="align-middle ">등록일자</th>
                                        <td>
                                            <input class="form-control" type="datetime-local" style="width: 100%; border: none;" name="registration_date">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="align-middle">출원인/등록인</th>
                                        <td class="text-left">  <input style="width: 100%; border: none;" type="text" name="writer_ko"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: right; padding-right:6%">
                                <button type="submit" class="btn btn-outline-secondary">작성완료</button>
                        </article>

                    </div>
                </div>

            </div>
        </form>
    </section>
    <%- include('../include/footer.ejs') %>

    <script>
        flatpickr("input[type=datetime-local]", {});
     </script>